<div class="nested-fields ls-box">

<label class="ls-label">
      <b class="ls-label-text">Valor</b><br>
    <%= f.number_field :quantity %>
           <%= f.select :item_ref, Item.all.map { |c| [c.name, c.id] } %>


    </label>


  <%= link_to_remove_association "Remover Item", f, :class=> "ls-btn-danger" %>
</div>