<%= form_for(survivor) do |f| %>
  <% if survivor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survivor.errors.count, "error") %> prohibited this survivor from being saved:</h2>

      <ul>
      <% survivor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :infected %>
    <%= f.check_box :infected %>
  </div>

      <div id="partial_outcome">
        <%= f.fields_for :bags do |bag| %>
          <%= render 'bag_fields', f: bag %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Adicionar Item ao Inventorio', f, :bags, :class => '' %>
        </div>
      </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
