<h1 class="ls-title-intro ls-ico-users ">Survivors</h1>


<table id="table_id"  class="ls-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Age</th>
      <th>Infected</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @survivors.each do |survivor| %>
      <tr>
        <td><%= survivor.name %></td>
        <td><%= survivor.gender %></td>
        <td><%= survivor.longitude %></td>
        <td><%= survivor.latitude %></td>
        <td><%= survivor.age %></td>
        <td><%= survivor.infected %></td>
        <td><%= link_to 'Show', survivor %> <%= survivor.infected ? ("You cannot Edit It") : (link_to 'Edit', edit_survivor_path(survivor)) %> <%= link_to 'Destroy', survivor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survivor', new_survivor_path, class: 'ls-btn-default'   %>

 <script >
$(document).ready( function () {
    $('#table_id').DataTable();
} );
 </script>