<%= form_for(transfer) do |f| %>
  <% if transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
      <% transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :survivor_in %>
    <%= f.select :survivor_in, Survivor.where(infected: false).map { |c| [c.name, c.id] } %>

  </div>

  <div class="field">
    <%= f.label :quantity_in %>
    <%= f.number_field :quantity_in %>
  </div>

  <div class="field">
    <%= f.label :item_in %>
    <%= f.select :item_in, Item.all.map { |c| [c.name, c.id] } %>

  </div>

  <div class="field">
    <%= f.label :survivor_out %>
    <%= f.select :survivor_out, Survivor.where(infected: false).map { |c| [c.name, c.id] } %>

  </div>

  <div class="field">
    <%= f.label :quantity_out %>
    <%= f.number_field :quantity_out %>
  </div>

  <div class="field">
    <%= f.label :item_out %>
        <%= f.select :item_out, Item.all.map { |c| [c.name, c.id] } %>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
