<h1 class="ls-title-intro ls-ico-dashboard ">Transfer Items</h1>


<table  id="table_id" class="ls-table">
  <thead>
    <tr>
      <th>Survivor in</th>
      <th>Quantity in</th>
      <th>Item in</th>
      <th>Survivor out</th>
      <th>Quantity out</th>
      <th>Item out</th>
      <th >Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @transfers.each do |transfer| %>
      <tr>
        <td><%= Survivor.where(id: transfer.survivor_in).pluck(:name) %></td>
        <td><%= transfer.quantity_in %></td>
        <td><%= Item.where(id: transfer.item_in).pluck(:name) %></td>
        <td><%= Survivor.where(id: transfer.survivor_out).pluck(:name)  %></td>
        <td><%= transfer.quantity_out %></td>
        <td><%= Item.where(id: transfer.item_out).pluck(:name)%></td>
        <td><%= link_to 'Show', transfer %> <%= link_to 'Edit', edit_transfer_path(transfer) %> <%= link_to 'Destroy', transfer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transfer', new_transfer_path, class: 'ls-btn-default'   %>

 <script >
$(document).ready( function () {
    $('#table_id').DataTable();
} );
 </script>