<p id="notice"><%= notice %></p>

<p>
  <strong>Survivor in:</strong>
  <%= @transfer.survivor_in %>
</p>

<p>
  <strong>Quantity in:</strong>
  <%= @transfer.quantity_in %>
</p>

<p>
  <strong>Item in:</strong>
  <%= @transfer.item_in %>
</p>

<p>
  <strong>Survivor out:</strong>
  <%= @transfer.survivor_out %>
</p>

<p>
  <strong>Quantity out:</strong>
  <%= @transfer.quantity_out %>
</p>

<p>
  <strong>Item out:</strong>
  <%= @transfer.item_out %>
</p>

<%= link_to 'Edit', edit_transfer_path(@transfer) %> |
<%= link_to 'Back', transfers_path %>
