<!DOCTYPE html>
<html>
  <head>
    <title>Zombie</title>
    <%= csrf_meta_tags %>


 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="http://assets.locaweb.com.br/locastyle/3.9.0/stylesheets/locastyle.css" rel="stylesheet" type="text/css">
    <script src="//assets.locaweb.com.br/locastyle/3.9.0/javascripts/locastyle.js"></script>
  </head>
  <body>
    <div class="ls-topbar ">



  <span class="ls-show-sidebar ls-ico-menu"></span>


  <!-- Nome do produto/marca com sidebar -->
    <h1 class="ls-brand-name">
      <a href="home" class="ls-ico-earth">
        <small>CodeMiner42</small>
        Zoombie
      </a>
    </h1>

  <!-- Nome do produto/marca sem sidebar quando for o pre-painel  -->
</div>


    <aside class="ls-sidebar">

  <div class="ls-sidebar-inner">
      <a href="/locawebstyle/documentacao/exemplos//pre-painel"  class="ls-go-prev"><span class="ls-text">Voltar à lista de serviços</span></a>

      <nav class="ls-menu">
        <ul>

           <li><%= link_to "Transfer Items", transfers_path,  class: "ls-ico-dashboard"%></li>
           <li><%= link_to "Survivors", survivors_path,  class: "ls-ico-users" %></li>
        </ul>
      </nav>


  </div>
</aside>


    <main class="ls-main " style="margin-top: -32px;">
          <%= yield %>

    </main>

    <!-- We recommended use jQuery 1.10 or up -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://assets.locaweb.com.br/locastyle/3.9.0/javascripts/locastyle.js" type="text/javascript"></script>
  </body>
</html>